@model IEnumerable<AdminAccountControl.Models.Appliance>
@{
    ViewBag.Title = "Бытовая техника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="renderBody">
    <section class="page-header">
        <h2>Бытовая техника <span class="h3 text-muted">список</span></h2>
    </section>

    <section>
        <div>
            <p>@DateTime.Now.ToShortDateString()</p>
        </div>

        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="sendQueryToServerAjax('add')" id="btnAdd"><span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" class="btn btn-default" onclick="sendQueryToServerAjax('edit')" id="btnEdit" disabled><span class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" class="btn btn-default" onclick="sendQueryToServerAjax('delete')" id="btnDelete" disabled><span class="glyphicon glyphicon-trash"></span></button>
            </div>

            <p></p>

            <div id="renderApplianceList">
                @Html.Partial("_ApplianceList", Model)
            </div>
        </div>

    </section>
</section>

<section id="modalWindow" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-info"><h5 class="modal-title text-uppercase"></h5></div>
            <div class="modal-body"></div>
        </div>
    </div>
</section>


@section scripts
{
    <script src="~/Scripts/indexLogic.js"></script>
}
